* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    color: #333;

    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
}

nav {
    display: flex;
    justify-content: center;

    height: 30px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 50vw;

    list-style: none;
}

a {
    position: relative;

    font-size: 12px;
    color: #333;
    text-decoration: none;
}

nav a:hover::after {
    position: absolute;
    margin-left: 3px;

    content: "<-";
    font-size: 16px;

    animation: blink 1s linear infinite;
}

h1 {
    text-align: center;
    line-height: 70px;
}

h2 {
    margin: 30px 0 5px 0;
}

h2:first-child {
    margin-top: 30px;
}

h3 {
    display: inline-block;
    background-color: #ebebeb;
    border-radius: 5px;

    padding: 5px 15px;
    margin: 15px 0;
}

code {
    background-color: #ebebeb;
    border-radius: 5px;

    padding: 5px 10px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #333;
}

h2>code {
    font-size: 18px;
}

code:not(h2>code) {
    background-color: #333;
    color: #fff;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

::-webkit-scrollbar-button {
    background-color: #333;
}

.wrap {
    position: relative;
    margin: 15px;

    text-align: left;
}

.wrap>label {
    display: inline-block;

    transition: filter .3s;
    cursor: pointer;
    margin-bottom: 15px;
}

.wrap>label:hover {
    filter: brightness(90%);
}

.wrap input {
    display: none;
}

.wrap>input:checked+label>code {
    background-color: #ebebeb;
    color: #333333;
}

/* controller */
.controller {
    position: fixed;
    right: 5%;
    bottom: 5%;

    width: 100px;

    border-radius: 5px;

    text-align: center;
    line-height: 30px;
}

.controller>label {
    margin-bottom: 5px;
}

.controller>label,
.controller>a {
    display: block;

    background-color: #333;
    border-radius: 5px;

    font-size: 12px;
    color: #fff;

    /* transition: background-color, color .3s, .3s; */

    cursor: pointer;
}

.controller>label:hover,
.controller>a:hover {
    filter: brightness(90%);
}

/* animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}