/* preview */
/* box */
.preview-box {
    position: fixed;
    top: 115px;
    right: 5%;

    width: 100px;
    height: 100px;
    background-color: #333;

    margin: 20px auto;

    color: #fff;

    transition: .5s;
    z-index: -99;
}

/* width */
#box-width-100:checked~.preview-box {
    width: 100px;
}

#box-width-300:checked~.preview-box {
    width: 300px;
}

#box-width-500:checked~.preview-box {
    width: 500px;
}

/* height */
#box-height-100:checked~.preview-box {
    height: 100px;
}

#box-height-300:checked~.preview-box {
    height: 300px;
}

#box-height-500:checked~.preview-box {
    height: 500px;
}

/* background-color */
#box-color-palevioletred:checked~.preview-box {
    background-color: palevioletred;
}

#box-color-royalblue:checked~.preview-box {
    background-color: royalblue;
}

#box-color-gold:checked~.preview-box {
    background-color: gold;
}

#box-color-rebeccapurple:checked~.preview-box {
    background-color: rebeccapurple;
}

#box-color-greenyellow:checked~.preview-box {
    background-color: greenyellow;
}

#box-color-orangered:checked~.preview-box {
    background-color: orangered;
}

/* border-radius */
#box-border-radius-0:checked~.preview-box {
    border-radius: 0;
}

#box-border-radius-10:checked~.preview-box {
    border-radius: 10px;
}

#box-border-radius-50:checked~.preview-box {
    border-radius: 50px;
}

#box-border-radius-50p:checked~.preview-box {
    border-radius: 50%;
}

/* border-style */
#box-border-none:checked~.preview-box {
    border: none;
}

#box-border-solid:checked~.preview-box {
    border: 10px solid #333;
}

#box-border-dashed:checked~.preview-box {
    border: 10px dashed #333;
}

#box-border-dotted:checked~.preview-box {
    border: 10px dotted #333;
}

#box-border-groove:checked~.preview-box {
    border: 10px groove #333;
}

#box-border-ridge:checked~.preview-box {
    border: 10px ridge #333;
}

#box-border-inset:checked~.preview-box {
    border: 10px inset #333;
}

#box-border-outset:checked~.preview-box {
    border: 10px outset #333;
}

/* border-width */
#box-border-10:checked~.preview-box {
    border-width: 10px;
}

#box-border-30:checked~.preview-box {
    border-width: 30px;
}

#box-border-50:checked~.preview-box {
    border-width: 50px;
}

/* border-color */
#box-border-none:checked~.preview-box {
    border-color: none;
}

#box-border-palevioletred:checked~.preview-box {
    border-color: palevioletred;
}

#box-border-royalblue:checked~.preview-box {
    border-color: royalblue;
}

#box-border-gold:checked~.preview-box {
    border-color: gold;
}

#box-border-rebeccapurple:checked~.preview-box {
    border-color: rebeccapurple;
}

#box-border-greenyellow:checked~.preview-box {
    border-color: greenyellow;
}

#box-border-orangered:checked~.preview-box {
    border-color: orangered;
}

/* box-sizing */
#box-counter-box:checked~.preview-box {
    box-sizing: content-box;
}

#box-border-box:checked~.preview-box {
    box-sizing: border-box;
}

/* outline-style */
#box-outline-none:checked~.preview-box {
    outline: none;
}

#box-outline-solid:checked~.preview-box {
    outline: 10px solid #333;
}

#box-outline-double:checked~.preview-box {
    outline: 10px double #333;
}

#box-outline-dashed:checked~.preview-box {
    outline: 10px dashed #333;
}

#box-outline-dotted:checked~.preview-box {
    outline: 10px dotted #333;
}

#box-outline-groove:checked~.preview-box {
    outline: 10px groove #333;
}

#box-outline-ridge:checked~.preview-box {
    outline: 10px ridge #333;
}

#box-outline-inset:checked~.preview-box {
    outline: 10px inset #333;
}

#box-outline-outset:checked~.preview-box {
    outline: 10px outset #333;
}

/* border-radius */
#box-outline-offset-0:checked~.preview-box {
    outline-offset: 0;
}

#box-outline-offset-10:checked~.preview-box {
    outline-offset: 10px;
}

#box-outline-offset-50:checked~.preview-box {
    outline-offset: 50px;
}

#box-outline-offset-50p:checked~.preview-box {
    outline-offset: 50%;
}

/* outline-width */
#box-outline-10:checked~.preview-box {
    outline-width: 10px;
}

#box-outline-30:checked~.preview-box {
    outline-width: 30px;
}

#box-outline-50:checked~.preview-box {
    outline-width: 50px;
}

/* outline-color */
#box-outline-none:checked~.preview-box {
    outline-color: none;
}

#box-outline-palevioletred:checked~.preview-box {
    outline-color: palevioletred;
}

#box-outline-royalblue:checked~.preview-box {
    outline-color: royalblue;
}

#box-outline-gold:checked~.preview-box {
    outline-color: gold;
}

#box-outline-rebeccapurple:checked~.preview-box {
    outline-color: rebeccapurple;
}

#box-outline-greenyellow:checked~.preview-box {
    outline-color: greenyellow;
}

#box-outline-orangered:checked~.preview-box {
    outline-color: orangered;
}

/* box-shadow */
/* x, y */
#box-shadow-none:checked~.preview-box {
    box-shadow: none;
}

#box-shadow-basic:checked~.preview-box {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#box-shadow-x20:checked~.preview-box {
    box-shadow: 20px 0 black;
}

#box-shadow-x40:checked~.preview-box {
    box-shadow: 40px 0 black;
}

#box-shadow-y20:checked~.preview-box {
    box-shadow: 0 20px black;
}

#box-shadow-y40:checked~.preview-box {
    box-shadow: 0 40px black;
}

#box-shadow-xy20:checked~.preview-box {
    box-shadow: 20px 20px black;
}

#box-shadow-xy40:checked~.preview-box {
    box-shadow: 40px 40px black;
}

/* box-shadow */
/* blur, spread */
#box-shadow-blur10:checked~.preview-box {
    box-shadow: 20px 20px 10px black;
}

#box-shadow-blur30:checked~.preview-box {
    box-shadow: 20px 20px 30px black;
}

#box-shadow-blur50:checked~.preview-box {
    box-shadow: 20px 20px 50px black;
}

#box-shadow-spread0:checked~.preview-box {
    box-shadow: 20px 20px 0 0px black;
}

#box-shadow-spread1:checked~.preview-box {
    box-shadow: 20px 20px 0 1px black;
}

#box-shadow-spread10:checked~.preview-box {
    box-shadow: 20px 20px 0 10px black;
}

#box-shadow-b10s0:checked~.preview-box {
    box-shadow: 20px 20px 10px 0 black;
}

#box-shadow-b10s10:checked~.preview-box {
    box-shadow: 20px 20px 10px 10px black;
}

/* box-shadow-inset */
/* x, y */

#box-shadow-basic-inset:checked~.preview-box {
    box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#box-shadow-x20-inset:checked~.preview-box {
    box-shadow: inset 20px 0 black;
}

#box-shadow-x40-inset:checked~.preview-box {
    box-shadow: inset 40px 0 black;
}

#box-shadow-y20-inset:checked~.preview-box {
    box-shadow: inset 0 20px black;
}

#box-shadow-y40-inset:checked~.preview-box {
    box-shadow: inset 0 40px black;
}

#box-shadow-xy20-inset:checked~.preview-box {
    box-shadow: inset 20px 20px black;
}

#box-shadow-xy40-inset:checked~.preview-box {
    box-shadow: inset 40px 40px black;
}

/* box-shadow-inset */
/* blur, spread */
#box-shadow-blur10-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 10px black;
}

#box-shadow-blur30-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 30px black;
}

#box-shadow-blur50-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 50px black;
}

#box-shadow-spread0-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 0 0px black;
}

#box-shadow-spread1-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 0 1px black;
}

#box-shadow-spread10-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 0 10px black;
}

#box-shadow-b10s0-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 10px 0 black;
}

#box-shadow-b10s10-inset:checked~.preview-box {
    box-shadow: inset 20px 20px 10px 10px black;
}

/* box-shadow-color */
#box-shadow-color-palevioletred:checked~.preview-box {
    box-shadow: 20px 20px palevioletred;
}

#box-shadow-color-royalblue:checked~.preview-box {
    box-shadow: 20px 20px royalblue;
}

#box-shadow-color-gold:checked~.preview-box {
    box-shadow: 20px 20px gold;
}

#box-shadow-color-rebeccapurple:checked~.preview-box {
    box-shadow: 20px 20px rebeccapurple;
}

#box-shadow-color-greenyellow:checked~.preview-box {
    box-shadow: 20px 20px greenyellow;
}

#box-shadow-color-orangered:checked~.preview-box {
    box-shadow: 20px 20px orangered;
}

/* box-shadow-color-inset */
#box-shadow-color-inset-palevioletred:checked~.preview-box {
    box-shadow: inset 20px 20px palevioletred;
}

#box-shadow-color-inset-royalblue:checked~.preview-box {
    box-shadow: inset 20px 20px royalblue;
}

#box-shadow-color-inset-gold:checked~.preview-box {
    box-shadow: inset 20px 20px gold;
}

#box-shadow-color-inset-rebeccapurple:checked~.preview-box {
    box-shadow: inset 20px 20px rebeccapurple;
}

#box-shadow-color-inset-greenyellow:checked~.preview-box {
    box-shadow: inset 20px 20px greenyellow;
}

#box-shadow-color-inset-orangered:checked~.preview-box {
    box-shadow: inset 20px 20px orangered;
}